name: Reusable Test Workflow

on:
  workflow_call:
    inputs:
      
      aws_region:
        required: true
        type: string
    secrets:
      aws_oidc_assume_role:
        required: true
        # type: string
 
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
        with:
          ref: ${{ github.ref_name }}
          
      - name: Write branch name to a file
        run: echo ${{ github.ref_name }} > BRANCH
        
      - name: Archive branch name file
        uses: actions/upload-artifact@v3
        with:
          name: branch
          path: BRANCH

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: ${{ inputs.aws_region }}
          role-to-assume: ${{ secrets.aws_oidc_assume_role }}
          # role-to-assume: ${{ secrets.OIDC ROLE}}

