name: Reusable Test Workflow

on:
  workflow_call:
    inputs:
      aws_region:
        required: true
        type: string
    
      ref_branch:
        required: true
        type: string
    
    secrets:
      OIDC_ROLE:
        required: true
        # type: string
 
jobs:
  Branch_AWS:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
        with:
          ref: ${{ inputs.ref_branch }}
          
      - name: Write branch name to a file
        run: echo ${{ inputs.ref_branch }} > BRANCH
        
      - name: Archive branch name file
        uses: actions/upload-artifact@v3
        with:
          name: branch
          path: BRANCH

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: ${{ inputs.aws_region }}
          role-to-assume: ${{ secrets.OIDC_ROLE }}

