name: Reusable Test Workflow

on:
  workflow_call:
    inputs:
      
      aws_region:
        required: true
        type: string
      s3_bucket_name:
        required: true
        type: string
      s3_object_key:
        required: true
        type: string
    secrets:
      aws_access_key_id:
        required: true
      aws_secret_access_key:
        required: true

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
        with:
          ref: ${{ github.ref_name }}
          
      - name: Write branch name to a file
        run: echo ${{ github.ref_name }} > BRANCH_NAME
        
      - name: Archive branch name file
        uses: actions/upload-artifact@v3
        with:
          name: branch-name
          path: BRANCH_NAME

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.aws_access_key_id }}
          aws-secret-access-key: ${{ secrets.aws_secret_access_key }}
          aws-region: ${{ inputs.aws_region }}

      - name: Verify S3 File
        run: |
          aws s3api head-object --bucket ${{ inputs.s3_bucket_name }} --key ${{ inputs.s3_object_key }}
